html, body {
    height: 100%;
}

html {
    background-color:#3e43c9;
    display: table;
    margin: auto;
}

body {
    border-radius: 10%;
    background-color: #1f25AF;
    display: table-cell;
    vertical-align: middle;
    /*border: 5px  solid black;*/
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-top:0px;
    padding-bottom: 0px;
}
select{
    background-color: #aca1a9;
    width:100px;
}
input{
    background-color: #aca1a9;
    width:94px;
    border: 1px solid black;
}
h1{
    color:#f04976;
}